/*Base*/
.center-container{
	margin: 0 auto;
	max-width: 1100px;
	text-align: center;
}
/*Base*/

/*Navbar*/
nav{
	margin: 0 auto;
	padding: 25px;
	overflow: auto;
}
nav img{
	margin-left: 20%;
	float: left;
	max-width: 50%;
}
.navbar{
	padding-right: 200px;
	margin: 0;
	margin-top: 5px;
	background-color: #FFF;
	list-style: none;
}
.navbar li{
	float: right;
}

.navbar a{
	color: #3D8BB5;
	display: block;
	text-decoration: none;
	margin: 0;
	margin-right: 40px;
}
/*Navbar*/

/*Middle*/
.middle{
	margin: 0 auto;
	padding: 0;
	max-height: 100%;
	max-width: 100%;
}
.menu{
	height: 100px;
	margin: 0;
	padding: 0;
	position: relative;
	top: -5px;
}
.menu-bar{
	height: 100px;
	margin: 0;
	padding: 0; 
	background-color: #28B0F9;
}
.menu-bar li{
	display: inline-block;
	margin: auto;
	margin-top: 44px;
}
.menu-bar a{
	color: white;
	font-weight: lighter;
	text-decoration: none;
	padding: 50px;
}
/*Middle*/

.ajax-swap{
	background-color: #4298C6;
}

